* {
  box-sizing: border-box;
}
.dropdown {
  margin: 8px;
  color: white;
  display: inline-block;
  background-color: red;
  padding: 0px;
  margin: 16px;
  opacity: 0.8;
  font-size: 16px;
  cursor: pointer;
}
.menu-button {
  padding: 16px;
  background-color: darkgreen;
  cursor: pointer;
  display: block;
}
.dropdown:hover {
  opacity: 1;
}

.menu-list {
  position: absolute;

  color: black;

  list-style-type: none;

  background-color: lightcyan;

  margin: 0;

  padding: 0;

  display: none;

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

  min-width: 120px;

  z-index: 1;
}

.menu-item {
  padding: 16px;
}

.dropdown:hover .menu-list {
  display: block;
}

.menu-item:hover {
  background-color: ghostwhite;
}
